.root {
  border: orange 1px solid;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  .main {
    width: 100px;
    height: 100px;
    cursor: pointer;
    &.circle {
      border-radius: 50%;
    }
    &.rhombus {
      transform: rotate(45deg);
    }
  }
  .closed {
    width: 100%;
    height: 100px;
    cursor: pointer;
    font-size: 30px;
  }
}
